<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>メニュー画面</title>
</head>
<body>
	<!--Ayako1  ”こんにちは”を”メニュー画面”に変更 -->
<h2>こんにちは</h2>
<div th:fragment="logout" sec:authorize="isAuthenticated()">
	<!--Ayako2  "こんにちは:" "mail:" "権限:"を削除し、メニューボタンを追加 -->
	<!--Ayako3 メニューボタン押下時の遷移先URLを追加  -->
    <p>こんにちは:
        <span sec:authentication="name"></span>さん</p>
    <p>mail:
        <span sec:authentication="principal.mailAddress"></span></p>
    <p>権限:
        <span sec:authentication="principal.authorities"></span></p>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト" />
    </form>

</div>
</body>
</html>
